<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<property name="logbase" value="${catalina.base}/logs/" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%method - %msg%n
			</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${logbase}weixin.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%method - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="com.ruyicai.weixin" level="INFO" />

	<logger name="org.apache" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.springframework" level="ERROR" />

	<root level="info">
		<!-- <appender-ref ref="STDOUT" /> -->
		<appender-ref ref="logfile" />
	</root>
</configuration>  